<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>wssh</title>

        <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" />
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" />
    </head>

    <body>
        <nav id="nav">
            <a class="">网宿wssh</a>
            <!--右浮动-->
            <a class="close-win" href="javascript:void(0)" onclick="closewin();" title="关闭页面"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="exit-fullscreen-button" href="javascript:void(0)" onclick="exitFullscreen()" title="退出全频"><span class="icon-fullscreen"></span></a>
            <a class="fullscreen-button"      href="javascript:void(0)" onclick="fullscreen()"     title="全频">    <span class="icon-fullscreen"></span></a>
        </nav>

        <div id="term">
        </div>

        <script type="application/javascript" src="{{url_for('static', filename='jquery.min.js')}}">
        </script>
        <script type="application/javascript" src="{{url_for('static', filename='term.js')}}">
        </script>
        <script type="application/javascript" src="{{url_for('static', filename='wssh.js')}}">
        </script>
        <script type='application/javascript'>
            /*由于下面的函数要用到term变量，所以这些操作不封装成函数了*/
            $('.exit-fullscreen-button').hide();
            //测试
            /*var options = {
                username: 'root',
                password: 'root',
                hostname: '192.168.2.3',
                port: '22',
                command: '',
                authentication_method: 'password'
            };*/

            //风火轮使用
            var options = {
                username: getQueryString('username'),
                password: '',
                hostname: "10.8.216.16",
                port: '60000',
                command: '',
                authentication_method: 'password'
            };
            document.getElementsByTagName('body')[0].style.width = screen.width.toString() + 'px';
            var cols = getCols(), rows = getRows(0);
            var client = new WSSHClient();
            var term = new Terminal(cols, rows, function(key) {
                client.send(key);
            });
            term.open();
            $('.terminal').detach().appendTo('#term');
            term.resize(cols, rows);
            term.write('Connecting...');
            client.connect($.extend(options, {
                onError: function(error) {
                    term.write('Error: ' + error + '\r\n');
                },
                onConnect: function() {
                    // Erase our connecting message
                    term.write('\r');
                },
                onClose: function() {
                    term.write('Connection Reset By Peer');
                },
                onData: function(data) {
                    term.write(data);
                }
            }));
            var fullscreen=function(){
                $('.fullscreen-button').hide();
                $('.exit-fullscreen-button').show();
                elem=document.body;
                if(elem.webkitRequestFullScreen){
                    elem.webkitRequestFullScreen();
                }else if(elem.mozRequestFullScreen){
                    elem.mozRequestFullScreen();
                }else if(elem.requestFullScreen){
                    elem.requestFullscreen();
                }else{
                    //浏览器不支持全屏API或已被禁用
                }
                term.resize(getCols(), getRows(1));
            };
            var exitFullscreen=function(){
                $('.fullscreen-button').show();
                $('.exit-fullscreen-button').hide();
                var elem=document;
                if(elem.webkitCancelFullScreen){
                    elem.webkitCancelFullScreen();
                }else if(elem.mozCancelFullScreen){
                    elem.mozCancelFullScreen();
                }else if(elem.cancelFullScreen){
                    elem.cancelFullScreen();
                }else if(elem.exitFullscreen){
                    elem.exitFullscreen();
                }else{
                    //浏览器不支持全屏API或已被禁用
                }
                term.resize(getCols(), getRows(0));
            };
            function closewin(){
                if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("Chrome") != -1) {
                    window.location.href="about:blank";
                    window.close();
                } else {
                    window.opener = null;
                    window.open("", "_self");
                    window.close();
                }
            }
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }

            function getCols() {
                var cols = 182;
                if (typeof screen.height != 'undefined') {
                    cols = Math.floor(screen.width / 7.3);//font-size: 12px;量的宽度好像是7.5px
                }
                return cols;
            }
            function getRows(isFullscreeen) {
                var rows = 35;
                if (isFullscreeen) {
                    rows = 41;
                    if (typeof screen.height != 'undefined') {
                        rows = Math.floor((screen.height - 20) / 18);
                    }
                }
                else {
                    rows = 35;
                    if (typeof screen.height != 'undefined') {
                        rows = Math.floor((screen.height - 166) / 18);//166为浏览器最大化后顶部到命令行的距离
                    }
                }
                return rows;
            }
        </script>
        <!--<script type="application/javascript">
        function openTerminal(options, cols, rows) {
            var client = new WSSHClient();
            var term = new Terminal(cols, rows, function(key) {
                client.send(key);
            });
            term.open();
            $('.terminal').detach().appendTo('#term');
            term.resize(cols, rows);
            term.write('Connecting...');
            client.connect($.extend(options, {
                onError: function(error) {
                    term.write('Error: ' + error + '\r\n');
                },
                onConnect: function() {
                    // Erase our connecting message
                    term.write('\r');
                },
                onClose: function() {
                    term.write('Connection Reset By Peer');
                },
                onData: function(data) {
                    term.write(data);
                }
            }));
        }
    </script>-->
    </body>
</html>
